.store-page {
  position: relative;
  overflow: auto;
  color: black;
  height: 100vh;
}

.store-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 250px;
  flex-flow: wrap;
  height: 100%;
  width: 100%;
}

.store-container > div {
  margin: 5%;
}
