.quiz-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: auto;
}

.quiz-container {
  margin-top: 100px;
  width: 75%;
}

.selections-nav {
  width: 40vw;
  border: 1px solid black;
  height: 10vh;
  margin: auto auto;
}

.arrow {
  color: black;
  width: 50px;
  align-self: center;
  cursor: pointer;
}
