:root {
  /* --transition-time: 0.5s; */
}

.header {
  background-color: #3f4444;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  opacity: 0.9;
}

.header > a {
  margin: 1vw;
  text-align: center;
}

.logo {
  background: url("../assets/base_logo_transparent_background.png") no-repeat
    center center/contain;
  height: 20vh;
  width: 25vw;
}

a {
  text-decoration: none;
}
