.level-title {
  color: black;
  text-align: center;
}

.jar-selection-container {
  display: flex;
  justify-content: space-between;
  height: 60vh;
  margin: 20px auto;
  width: 70vw;
}

.glass > .blur {
  background: url(https://image.made-in-china.com/202f0j00mzeYKUMlEkoh/Empty-Glass-Jars-Frosted-Glass-Candle-Holder-with-Wooden-Lid-for-Sale.jpg)
    no-repeat center center/cover;
}

.ceramic > .blur {
  background: url(http://sc04.alicdn.com/kf/HTB1eXdmbSRRMKJjy0Flq6xFepXal.jpg)
    no-repeat center center/cover;
}

.wooden > .blur {
  background: url(https://www.nzsoapandcandle.co.nz/images/543944/pid1864116/photos/wood-wicks.jpg)
    no-repeat center center/cover;
}

.cotton > .blur {
  background: url(https://i.etsystatic.com/13469623/r/il/c60d39/1702808029/il_570xN.1702808029_edan.jpg)
    no-repeat center center/cover;
}

.blur {
  height: 100%;
  width: 100%;
  position: absolute;
}

.jar-selection-container > div {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}

.jar-selection-container > div > .blur:hover {
  filter: blur(2px);
}

.jar-selection-container > div > .btn {
  margin: 5px;
}

.btn {
  letter-spacing: 0.1em;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  background-color: wheat;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  text-decoration: none;
  outline: 1px black solid;
  opacity: 1;
}

.jar-selection-container > div:hover .btn {
  opacity: 1;
}

.btn:hover ~ .blur {
  filter: blur(2px);
}
